Sign up!

<%= form_for @user do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>

      <%= f.submit "Create myself"%>
  </ul>

<% end %>