new attendees right here!<br><br>

<%= form_for @attendee do |f| %>
  <ul>

    <li>
      Guests for "<%= @event.name %>""
    </li><br>

    <li>
      <%= f.label :user_id, "user you wish add" %>
      <%= f.text_field :user_id %>
    </li>







    <!-- :value => params[:rfid] -->

    <%= f.submit "Create my attendee"%>

  </ul>
<% end %>
