Create a new event!

<%= form_for @event do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </li>
    <br>


     Attendees:<br><br>
    <%= f.fields_for :attendees do |attendees_form| %>

      <li>
        <%= attendees_form.label :event_id %>
        <%= attendees_form.text_field :event_id %>
      </li>

      <li>
        <%= attendees_form.label :user_id %>
        <%= attendees_form.text_field :user_id %>
      </li>


    <% end %>





      <%= f.submit "Create my event(and attendees)"%>
  </ul>

<% end %>



