Create a new event!

<%= form_for @event do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </li>

      <%= f.submit "Create my event"%>
  </ul>

      <h6>(need a way to link to user submitting, also this shouldn't be visable unless signed in)</h6>

<% end %>