Create a new event!

<%= form_for @event do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </li>
    <br>
    People you can invite:

    <!--   event id
      guests -->

    <%= select_tag(:guest_id, options_for_select(@guests)) %>




    <!-- why don't I have to submit the correct user data -->

      <%= f.submit "Create my event(and attendees)"%>
  </ul>



<% end %>

Invite people by user id! (he says sarcastically)<br><br>

